
.error-404 {
    &-content {
        display: flex;
    }
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(0deg, #0038A5, #0038A5), #ECEFF5;
    border-radius: 10px;
    &:before {
        content: '';
        position: absolute;
        top: -65px;
        left: -10px;
        transform: rotate(11.33deg);
        width: 281px;
        height: 281px;
        border-radius: 20px;
        background: url(../images/404/404-img-1.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -56px;
        right: -15px;
        transform: rotate(11.34deg);
        width: 281px;
        height: 281px;
        border-radius: 20px;
        background: url(../images/404/404-img-2.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-block {
        max-width: 370px;
        margin-top: -7px;
        color: #fff;
        text-align: center;
    }
    &-name {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
    }
    &-code {
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px;
        margin-left: 9px;
        font-size: 95px;
        line-height: 70px;
    }
    &-info {
        margin-bottom: 27px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &-button {
        padding-left: 27px;
        padding-right: 27px;
        font-weight: 700;
    }

    @media screen
    and (max-width: $notebook){
    }

    @media screen
    and (max-width: $tablet){
        &:before {
            width: 170px;
            height: 170px;
        }
        &:after {
            width: 170px;
            height: 170px;
        }
        &-name {
            font-size: 30px;
            line-height: 36px;
        }
        &-code {
            font-size: 85px;
            line-height: 60px;
        }
    }

    @media screen
    and (max-width: $mobile){
        padding: 70px 20px 80px;
        &:before {
            top: -60px;
            width: 110px;
            height: 110px;
        }
        &:after {
            width: 110px;
            height: 110px;
        }
        &-name {
            margin-bottom: 8px;
            font-size: 21px;
            line-height: 26px;
        }
        &-code {
            font-size: 65px;
        }
        &-info {
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
        }
        &-button {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
