
.articles-catalog {
    margin-bottom: 60px;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -12px;
        margin-left: -12px;
    }
    &-item {
        width: 20%;
        padding-right: 12px;
        padding-left: 12px;
        margin-bottom: 25px;
    }
    &-date {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &-date-item {
        position: relative;
        margin-right: 7px;
        padding-right: 12px;
        color: #4F4F4F;
        font-size: 12px;
        line-height: 17px;
        &:after {
            content: '.';
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -8px;
            font-size: 24px;
            line-height: 0;
        }
        &:last-child:after {
            display: none;
        }
        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }
    }
    &-link {
        height: 264px;
    }
    &-more-link {
        padding-left: 31px;
        padding-right: 31px;
    }

    @media screen
    and (max-width: $desktop){
        &-more-link {
            line-height: 1.5em;
        }
    }

    @media screen
    and (max-width: $tablet){
        &-list {
            margin-right: -7px;
            margin-left: -7px;
        }
        &-item {
            width: 25%;
            padding-right: 7px;
            padding-left: 7px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-item {
            width: 33.3%;
        }
        &-link {
            height: 210px;
        }
        &-date {
            margin-bottom: 5px;
        }
        &-date-item {
            font-size: 11px;
        }
        &-list .articles-list-name {
            font-size: 14px;
            line-height: 21px;
        }
        &-list .articles-list-info {
            font-size: 13px;
        }
        &-more-link {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media screen
    and (max-width: $mobile-sm){
        &-item {
            width: 50%;
        }
    }
}
