
.delivery {
    margin-bottom: 60px;
    &-info {
        margin-bottom: 20px;
    }
    &-radiobuttons {
        margin-bottom: 30px;
    }
    &-radiobuttons-info {
        max-width: none;
    }
    &-important {
        max-width: 874px;
        margin-bottom: 54px;
        padding: 19px 20px;
        background-color: #E9EDF5;
        opacity: 0.7;
        border-radius: 10px;
    }
    &-important-item {
        display: flex;
        margin-bottom: 19px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-important-icon {
        display: inline-block;
        min-width: 18px;
        width: 18px;
        height: 17px;
        margin-right: 11px;
        margin-bottom: -3px;
        background: url("../images/delivery/delivery-important-icon.svg") no-repeat 0 0;
    }
    &-circumstances {
    }
    &-circumstances-content {
        flex-grow: 1;
    }
    &-banner {
        float: right;
        margin-left: 78px;
        min-width: 235px;
        width: 235px;
        margin-top: 65px;
        margin-bottom: 80px;
    }
    &-banner-link {
        position: relative;
        display: block;
        width: 100%;
        height: 291px;
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-banner-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-banner-info {
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px 20px 20px;
        color: #FFFFFF;
        width: 204px;
        &:after {
            content: '';
            position: absolute;
            top: -46px;
            left: -22px;
            width: 223px;
            max-width: none;
            height: 224px;
            background-color: #0038A5;
            border-radius: 50%;
        }
    }
    &-banner-name {
        position: relative;
        z-index: 1;
        display: block;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    &-banner-description {
        position: relative;
        z-index: 1;
        display: block;
        font-size: 10px;
        line-height: 15px;
    }
    &-banner-discount-info {
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px 20px 20px;
        color: #FFFFFF;
        width: 165px;
    }
    &-banner-discount-value {
        position: absolute;
        top: 0;
        right: 0;
        width: 94px;
        height: 94px;
        padding: 20px 13px 20px 20px;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        color: #FFFFFF;
        &:after {
            content: '';
            position: absolute;
            top: -23px;
            right: -21px;
            width: 117px;
            min-width: 117px;
            height: 117px;

            background-color: #FF2A2A;
            border-radius: 50%;
        }
    }
    &-banner-discount-label {
        position: relative;
        z-index: 1;
    }

    @media screen
    and (max-width: $notebook){
    }

    @media screen
    and (max-width: $tablet){
        &-important {
            margin-bottom: 45px;
        }
        &-banner {
            margin-left: 20px;
            margin-right: auto;
            margin-bottom: 30px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-circumstances {
            display: flex;
            flex-direction: column;
        }
        &-circumstances-content {
            width: 100%;
            margin-bottom: 20px;
            padding-right: 0;
        }
        &-banner {
            order: 1;
            margin-left: auto;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            max-width: 400px;
        }
        &-banner-link {
            height: 335px;
        }
        &-banner-discount-info {
            width: 215px;
        }
    }
}
