
.delivery {
    margin-bottom: 60px;
    &-radiobuttons {
        margin-bottom: 30px;
    }
    &-radiobuttons-info {
        max-width: none;
    }
    &-important {
        max-width: 874px;
        margin-bottom: 54px;
        padding: 19px 20px;
        background-color: #E9EDF5;
        opacity: 0.7;
        border-radius: 10px;
    }
    &-important-item {
        display: flex;
        margin-bottom: 19px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-important-icon {
        display: inline-block;
        min-width: 18px;
        width: 18px;
        height: 17px;
        margin-right: 11px;
        margin-bottom: -3px;
        background: url("../images/delivery/delivery-important-icon.svg") no-repeat 0 0;
    }
    &-circumstances {
    }
    &-circumstances-content {
        flex-grow: 1;
    }
    &-banner {
        float: right;
        margin-left: 78px;
        min-width: 235px;
        width: 235px;
        margin-top: 65px;
        margin-bottom: 80px;
    }
    &-banner-link {
        display: block;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-banner-img {
        display: block;
        width: 100%;
    }

    @media screen
    and (max-width: $notebook){
    }

    @media screen
    and (max-width: $tablet){
        &-important {
            margin-bottom: 45px;
        }
        &-banner {
            margin-left: 20px;
            margin-right: auto;
            margin-bottom: 30px;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-circumstances {
            display: flex;
            flex-direction: column;
        }
        &-circumstances-content {
            width: 100%;
            margin-bottom: 20px;
            padding-right: 0;
        }
        &-banner {
            order: 1;
            margin-left: auto;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
