
/* Aeonik Pro TRIAL */
@font-face {
	font-family: 'Aeonik Pro TRIAL';
	src: local("Aeonik Pro TRIAL"),
	url('../fonts/aeonikprotrial/AeonikProTRIAL-Light.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'Aeonik Pro TRIAL';
	src: local("Aeonik Pro TRIAL"),
	url('../fonts/aeonikprotrial/AeonikProTRIAL-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Aeonik Pro TRIAL';
	src: local("Aeonik Pro TRIAL"),
	url('../fonts/aeonikprotrial/AeonikProTRIAL-Bold.otf');
	font-weight: 700;
}
/* / Aeonik Pro TRIAL */

@font-face {
	font-family: 'ALSRubl';
	src: local("ALSRubl"),
	url('../fonts/ALSRubl/rouble.otf');
	font-weight: 400;
}

/* Montserrat */
@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat"),
	url('../fonts/montserrat/Montserrat-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat"),
	url('../fonts/montserrat/Montserrat-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: local("Montserrat"),
	url('../fonts/montserrat/Montserrat-Bold.ttf');
	font-weight: 700;
}
/* /Montserrat */