
$colorPlaceholder: #4F4F4F;

.field {
    margin-bottom: 21px;

    @media screen
    and (max-width: $tablet){
    }
    @media screen
    and (max-width: $mobile){
    }
}

.input {
    width: 100%;
    height: 33px;
    padding: 9px 20px;
    background-color: #fff;
    color: #111111;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    border: 1px solid #BDBDBD;
    border-radius: 17px;
    &:focus {
        color: #202430;
        border-color: #333333;
    }
    &::-webkit-input-placeholder {
        font-size: 14px;
        color: $colorPlaceholder;
    }
    &:-moz-placeholder {
        font-size: 14px;
        color: $colorPlaceholder;
    }
    &::-moz-placeholder {
        font-size: 14px;
        color: $colorPlaceholder;
    }
    &:-ms-input-placeholder {
        font-size: 14px;
        color: $colorPlaceholder;
    }
    &::placeholder {
        font-size: 14px;
        color: $colorPlaceholder;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: $colorPlaceholder;
        transition: background-color 1s ease-in-out 0s;
    }

    &_textarea {
        display: block;
        width: 100%;
        height: 96px;
        padding: 15px 17px;
        overflow: hidden;
        background-color: #fff;
        color: #818A9E;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        border: 1px solid #C5C6C7;
        border-radius: 8px;
        resize: none;
        transition: height 0.3s ease-in-out 0s;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: #fff;
        }
    }

    @media screen
    and (max-width: $tablet){
        &_simple {
            font-size: 12px;
            line-height: 16px;
        }
        &_simple::placeholder {
            font-size: 12px;
            line-height: 16px;
            color: #818A9E;
        }
    }
}

input.form-error {
    display: block;
    border-color: #BA001A;
    color: #BA001A;
    &:focus {
        border-color: #BA001A;
    }
    &::placeholder {
        color: #BA001A;
    }

}
label.form-error {
    display: block;
    color: $color;
    font-size: 12px;
    line-height: 20px;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    &-field {
        display: flex;
    }
    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-check {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 17px;
        width: 17px;
        height: 17px;
        line-height: 17px;
        margin-top: 1px;
        margin-right: 10px;
        background-color: #fff;
        border: 1px solid #333333;
        font-size: 10px;
        color: transparent;
        text-align: center;
        &:before {
        }
        &:hover {
            cursor: pointer;
        }
    }
    &-label {
        font-size: 18px;
        letter-spacing: 0.022em;
        color: #19191D;
    }
    &-icon {
        visibility: hidden;
        width: 10px;
        height: 8px;
        margin-top: -1px;
        margin-left: 1px;
        background: url("../images/catalog/catalog-icons/check.svg") no-repeat 0 0;
    }
    &-input:checked + &-check &-icon {
        visibility: visible;
    }
}

.radio {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-field-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 30px 25px 30px 32px;
        border: 2px solid #E0E0E0;
        border-radius: 15px;
        &:hover {
            box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
            border-color: transparent;
        }
    }
    &-item {
        margin-bottom: 14px;
    }
    &-field {
        &:hover {
        }
    }
    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-label {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.01em;
    }
    &-check {
        position: relative;
        width: 19px;
        height: 19px;
        margin-right: 11px;
        border-radius: 50%;
        text-align: center;
        background-color: #fff;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9px;
            height: 9px;
            border-radius: 50%;
        }
    }
    &-input:checked + &-check {
        &:after {
            background-color: #526295;
        }
    }
    &-input:checked ~ &-label {
    }

    &_simple {}
    &_simple &-check {
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 6px rgba(206, 206, 206, 0.8);
        &:after {
            width: 10px;
            height: 10px;
        }
    }
    &_simple &-input:checked + &-check {
        &:after {
            background-color: $color-red;
        }
    }
}

.button {
    position: relative;
    display: inline-block;
    height: 33px;
    padding: 6px 20px 7px;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid #333333;
    cursor: pointer;
    border-radius: 17px;
    -webkit-appearance: none;
    text-align: center;
    background-color: transparent;
    font-family: 'Aeonik Pro TRIAL', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    &:hover {
        font-weight: 700;
        color: #111111;
    }
    &:active {
        font-weight: 700;
        color: #000;
        border-color: #000000;
    }
    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }

    &-icon {
        display: inline-block;
        width: 0;
        height: 12px;
        background: url(../images/icons/arrow-right.svg) no-repeat 0 0;
        transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out;
    }
    &:hover &-icon {
        width: 21px;
        margin-left: 11px;
    }

    &_light {
        color: #fff;
        border-color: #fff;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
            border-color: #fff;
        }
    }

    &_simple {
        min-width: 191px;
    }

    &_dark {
        display: inline-block;
        background-color: $color-red;
        border-width: 0;
        padding-left: 27px;
        padding-right: 27px;
        color: #fff;
        font-size: 13px;
        line-height: 1.7em;
        font-weight: 700;
        &:hover {
            color: #fff;
            background-color: #CB021E;
        }
        &:active {
            color: #fff;
            background-color: #950216;
        }
    }

    &_modified {
        text-transform: none;
    }

    @media screen
    and (max-width: 1600px){
        &_simple {
            line-height: 1.5em;
        }
    }
    @media screen
    and (max-width: $tablet){
        &_simple {
            min-width: 156px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &-icon {
            width: 21px;
            margin-left: 11px;
        }
    }
    @media screen
    and (max-width: $mobile){
    }
}

/*selectric*/
.selectric-wrapper {
}
.selectric {
    display: flex;
    align-items: center;
    height: 33px;
    border-radius: 22px;
    background-color: transparent;
    padding: 7px 21px 8px 20px;
    border: 1px solid #333333;
}
.selectric .label {
    margin: 0;
    height: auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
}
.selectric:hover .label {
}
.selectric-open .label {
}
.selectric-items {
    top: calc(100% + 1px);
    min-width: 195px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fff;
    border-width: 0;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
}
.selectric-above .selectric-items {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.07);
}
.selectric-items li {
    padding: 7px 28px;
    font-size: 14px;
    color: $color;
}
.selectric-items li:hover {
    background-color: transparent;
}
.selectric-items li.highlighted {
    background-color: transparent;
}
.selectric-items li.selected {
    color: $color-red;
    background-color: transparent;
}
.selectric-button {
    margin-left: 5px;
    line-height: 0;
}
.selectric-open {
    z-index: 10;
}
.selectric-icon {
    display: inline-block;
    line-height: 0;
    width: 9px;
    height: 5px;
    background: url("../images/header/header-icons/arrow-bottom.svg") no-repeat 0 0;
}
.selectric-hover .selectric {
    border-color: #333;
}
.selectric-focus .selectric {
    border-color: #333;
}
.selectric-open .selectric {
    border-color: #333;
}
.selectric-open .selectric-icon {
    transform: scaleY(-1);
}
.selectric:hover .selectric-icon {
}
.selectric-items .select-disable {
    display: none;
}
.selectric-items .selectric-hidden {
    display: none;
}

.select-simple {}
.select-simple .selectric .label {
    height: 34px;
    line-height: 34px;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom-width: 0;
    text-align: center;
}
.select-simple .selectric {
    border: 1px solid #dcdcdc;
    margin-bottom: 0;
}
.select-simple .selectric-button {
    right: 5px;
}
.select-simple .selectric-items li {
    text-align: left;
}
/*selectric*/

.switch {
    display: flex;
    align-items: center;
    position: relative;
    &-field {
        margin-bottom: 20px;
    }
    &-decor {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 36px;
        min-width: 36px;
        height: 20px;
        margin-right: 15px;
        padding: 2px;
        border-radius: 10px;
        background-color: #E4E8F1;
        cursor: pointer;
    }
    &-decor_simple {
        margin-right: 0;
    }
    &-icon {
        position: absolute;
        top: 3px;
        left: 4px;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border-radius: 50%;
        transition: left 0.1s ease-in-out 0s;
    }
    &-label {
        line-height: 21px;
        font-size: 13px;
        color: #333333;
    }
    &-label a {
        color: #a0bbc9;
        &:hover {
            text-decoration: none;
            color: #a0bbc9;
        }
    }
    &-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-checkbox:checked + &-decor {
        background-color: #BA001A;
    }
    &-checkbox:checked + &-decor &-icon {
        left: 18px;
    }
}


@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
.load-more {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 18px;
    &-label {
    }
    &_active {}
    &-icon {
        display: none;
        vertical-align: middle;
        margin-left: 3px;
        width: 16px;
        height: 16px;
        margin-top: -3px;
        background: url("../images/icons/load-more-spinner.svg") no-repeat 0 0;
        background-size: 100% auto;
    }
    &-block {
    }
    &-link {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: inline-block;
        text-decoration: none;
        padding-left: 17px;
        padding-right: 17px;
    }
    &-label {
        display: inline-block;
        font-size: 13px;
        line-height: 40px;
        color: #4F4F4F;
    }
    &-switcher {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 11px;
        color: $color;
    }
    &_active &-icon {
        display: inline-block;
        animation: preloader-rotate 2s infinite linear;
    }
    &-pages {
        display: flex;
        justify-content: center;
    }
    &-slider-nav {
        margin-left: 43px;
    }
    &-pic {
        vertical-align: middle;
        margin-left: 7px;
        margin-top: -5px;
    }
    &-select {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        margin-top: -1px;
    }
    &-select .selectric {
        border-width: 0;
        height: auto;
        padding: 0;
    }

    @media screen
    and (max-width: $tablet){
        &-select {
            display: none;
        }
        &-link {
            position: static;
            transform: none;
        }
    }
}

.amount {
    display: flex;
    align-items: center;
    width: 170px;
    &-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 33px;
        width: 33px;
        height: 33px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        border: 1px solid #4F4F4F;
        line-height: 0;
        &:hover {
            background-color: $color-red;
            border-width: 0;
        }
        &:active {
            background-color: $color-red;
        }
    }
    &-icon {
        margin-top: 1px;
        font-size: 20px;
        line-height: 0;
        color: #000000;
        font-style: normal;
    }
    &-counter:hover &-icon {
        color: #FFFFFF;
    }
    &-counter:first-child &-icon {
        margin-top: -2px;
    }
    &-digit {
        width: 100%;
        height: 33px;
        padding: 2px 6px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        background-color: transparent;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-counter &-icon {
            margin-left: 0;
        }
    }
}

.units {
    display: inline-block;
    margin-bottom: 25px;
    &-list {
        display: flex;
        justify-content: space-between;
        height: 33px;
        background: #E9EDF5;
        border-radius: 17px;
    }
    &-item {
        flex-grow: 1;
    }
    &-label {
        display: block;
        height: 100%;
        position: relative;
    }
    &-name {
        display: block;
        min-width: 56px;
        text-align: center;
        height: 100%;
        padding: 6px 3px 7px;
        border-radius: 17px;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        cursor: pointer;
    }
    &-price {
        visibility: hidden;
        position: absolute;
        top: calc(100% + 14px);
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        line-height: 17px;
        color: #1C1D1D;
        white-space: nowrap;
    }
    &-input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }
    &-input:checked ~ &-name {
        background-color: #fff;
        box-shadow: 0px 4px 20px rgba(206, 206, 206, 0.4);
    }
    &-input:checked ~ &-price {
        visibility: visible;
    }
}

/* slider-range */
.slider-range {
    margin-bottom: 13px;
    &-panel {
        display: flex;
        align-items: center;
        margin-bottom: 47px;
    }
    &-panel-item {
        position: relative;
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-input {
        flex-grow: 1;
        width: 100%;
        padding-left: 27px;
        color: #4F4F4F;
        &:focus {
            color: #000000;
        }
    }
    &-track {
        height: 1px;
        margin-left: 5px;
        margin-right: 10px;
        background-color: #4F4F4F;
    }
    &-quantity {
        background-color: #000000;
    }
    .ui-slider-horizontal &-quantity {
        height: 2px;
    }
    &-label {
        position: absolute;
        top: 50%;
        left: 11px;
        margin-top: 1px;
        transform: translateY(-50%);
        font-size: 12px;
        line-height: 17px;
        color: #4F4F4F;
    }
    &-text {
        visibility: hidden;
        position: absolute;
        top: -20px;
        left: 0;
        font-size: 12px;
        line-height: 17px;
        color: #000;
        transition: visibility 0.1s ease-in-out;
        white-space: nowrap;
    }
    &-text_max {
        left: auto;
        right: 0;
    }
    &-button:active &-text {
        visibility: visible;
    }
    & &-track {
        border-width: 0;
    }
    & &-button {
        width: 22px;
        height: 22px;
        box-shadow: 0px 0px 6px rgba(206, 206, 206, 0.8);
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: #fff;
        border-width: 0;
        &:active {
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            background-color: $color-red;
            border-radius: 50%;
        }
    }
    &-currency {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        color: #4F4F4F;
        font-size: 12px;
    }
    &-input:focus ~ &-label {
        color: #000000;
    }
    &-input:focus ~ &-currency {
        color: #000000;
    }

    @media screen
    and (min-width: $tablet) and (max-width: $notebook){
        &-panel-item {
            margin-right: 7px;
        }
    }
}
/* /slider-range */
