
.main-banner {
    position: relative;
    margin-bottom: 58px;
    &-item {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 350px;
        border-radius: 10px;
    }
    &-detail {
        width: 49.5%;
        padding: 107px 20px 20px;
        background-color: #BA001A;
    }
    &-img {
        width: 50.5%;
    }
    &-pic {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-name {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #FFFFFF
    }
    &-description {
        max-width: 467px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &-actions {
        display: inline-block;
    }
    &-button {
        font-weight: 700;
    }
    &-icon {
        display: block;
        width: 21px;
        height: 12px;
        margin-left: 11px;
        background: url("../images/icons/arrow-right.svg") no-repeat 0 0;
    }
    &-slider-nav {
        position: absolute;
        top: 45px;
        left: 22px;
        z-index: 1;
    }
    &-item_blue {}
    &-item_blue &-detail {
         background-color: #003589;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 46px;
        &-detail {
            width: 52%;
        }
        &-img {
            width: 48%;
        }
        &-name {
            font-size: 24px;
            line-height: 25px;
        }
        &-button {
            padding-left: 22px;
            padding-right: 22px;
        }
    }

    @media screen
    and (max-width: $mobile){
        margin-bottom: 41px;
        &-item {
            flex-direction: column;
            height: auto;
            width: 266px;
        }
        &-detail {
            width: 100%;
            height: 100%;
            padding-top: 27px;
            padding-bottom: 30px;
        }
        &-img {
            width: 100%;
            margin-top: auto;
        }
        &-pic {
            height: 220px;
        }
        &-slider-nav {
            display: none;
        }
        &-name {
            margin-bottom: 12px;
        }
        &-description {
            margin-bottom: 25px;
        }
    }
}