
.main-banner {
    position: relative;
    margin-bottom: 55px;
    &-item {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 350px;
        border-radius: 10px;
    }
    &-detail {
        width: 49.5%;
        padding: 111px 20px 20px;
        background-color: #BA001A;
    }
    &-img {
        width: 50.5%;
    }
    &-pic {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-name {
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #FFFFFF
    }
    &-description {
        max-width: 467px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &-actions {
        display: inline-block;
    }
    &-button {
        font-weight: 700;
    }
    &-icon {
        display: block;
        width: 21px;
        height: 12px;
        margin-left: 11px;
        background: url("../images/icons/arrow-right.svg") no-repeat 0 0;
    }
    &-slider-nav {
        position: absolute;
        top: 44px;
        left: 17px;
        z-index: 1;
    }
    &-item_blue {}
    &-item_blue &-detail {
         background-color: #003589;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 45px;
        &-item {
            height: 318px;
        }
        &-detail {
            width: 50%;
            padding-top: 102px;
        }
        &-img {
            width: 50%;
        }
        &-name {
            font-size: 24px;
            line-height: 25px;
        }
        &-button {
            padding-left: 22px;
            padding-right: 22px;
        }
        &-slider-nav {
            display: flex;
        }
        &-description {
            margin-bottom: 22px;
        }
    }

    @media screen
    and (max-width: $mobile){
        margin-bottom: 45px;
        &-item {
            flex-direction: column;
            height: auto;
            width: 266px;
        }
        &-detail {
            width: 100%;
            height: 100%;
            padding-top: 27px;
            padding-bottom: 30px;
        }
        &-img {
            width: 100%;
            margin-top: auto;
        }
        &-pic {
            height: 225px;
        }
        &-slider-nav {
            display: none;
        }
        &-name {
            margin-bottom: 14px;
        }
        &-description {
            margin-bottom: 21px;
        }
    }
}

.main-category {
    margin-bottom: 58px;
    &-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 0;
    }
    &-block {
        overflow: hidden;
        margin-bottom: 33px;
    }
    &-container {
        display: flex;
    }
    &-item {
        width: 100%;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 116px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    &-list-item {
        &:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/3;
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
            grid-row: 2/3;
        }
        &:nth-child(4) {
            grid-row: 1/3;
        }
        &:nth-child(5) {
            grid-row: 3/5;
        }
        &:nth-child(6) {
            grid-row: 3/5;
        }
        &:nth-child(7) {
            grid-column: 3/5;
            grid-row: 3/5;
        }
    }
    &-list-link {
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        min-height: 100%;
        height: 100%;
    }
    &-list-name {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &-list-panel {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 71px;
        padding: 26px 20px 12px;
        background: linear-gradient(to bottom, rgba(35, 33, 38, 0) 22.03%, rgba(0, 0, 0, 0.45) 84.68%);
    }
    &-list-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s linear;
    }
    &-list-link:hover &-list-img {
        transform: scale(1.1);
    }
    &-list-arrow {
        position: absolute;
        z-index: 1;
        bottom: 12px;
        right: 20px;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 33px;
        background-color: $color-red;
        border-radius: 50%;
    }
    &-list-link:hover &-list-arrow {
        visibility: visible;
    }
    &-list-icon {
        display: block;
        width: 21px;
        height: 12px;
        background: url("../images/icons/arrow-right.svg") no-repeat 0 0;
    }
    &-links {
        text-align: center;
    }
    &-button {}
    &-slider-nav {}

    @media screen
    and (max-width: $tablet){
        margin-bottom: 41px;
        &-panel {
            margin-bottom: 15px;
        }
        &-block {
            overflow: visible;
            margin-bottom: 20px;
        }
        &-item {
            width: auto;
        }
        &-list {
            display: flex;
            grid-template-columns: auto;
            grid-auto-rows: auto;
            grid-column-gap: 0;
            grid-row-gap: 0;
        }
        &-list-item {
            margin-right: 15px;
        }
        &-list-link {
            width: 126px;
            height: 242px;
        }
        &-list-panel {
            bottom: auto;
            top: 0;
            align-items: baseline;
            min-height: 100px;
            padding: 15px 14px;
            background: linear-gradient(to top, rgba(35, 33, 38, 0.02) 7.8%, rgba(0, 0, 0, 0.38) 85.03%);
        }
        &-list-name {
            font-size: 12px;
            line-height: 15px;
        }
        &-list-arrow {
            visibility: visible;
            bottom: 20px;
            right: 14px;
        }
        &-slider-nav {
            display: flex;
        }
    }
    @media screen
    and (max-width: $mobile){
        margin-bottom: 46px;
        &-panel {
            margin-bottom: 20px;
        }
        &-slider-nav {
            display: none;
        }
    }
}

.main-actions {
    margin-bottom: 65px;
    &-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 0;
    }
    &-block {
        margin-bottom: 29px;
    }
    &-list {
        display: flex;
    }
    &-list-item {
        width: 377px;
        min-height: 100%;
        height: auto;
    }
    &-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        box-shadow: 0px 0px 20px rgba(171, 171, 171, 0.25);
        border-radius: 10px;
        overflow: hidden;
    }
    &-pic {
        position: relative;
        display: block;
        height: 196px;
        overflow: hidden;
    }
    &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-detail {
        display: block;
        padding: 14px 22px 17px;
        min-height: 74px;
    }
    &-info {
        display: block;
        font-size: 14px;
        line-height: 21px;
    }
    &-discount {
        position: absolute;
        top: 25px;
        right: 29px;
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        border-radius: 50%;
        background-color: #F2D53B;
    }
    &-discount_white {
        background-color: #fff;
        color: #AE041D;
    }
    &-discount_orange {
        background-color: #EF7D26;
    }

    &-links {
        text-align: center;
    }
    &-button {}
    &-slider-nav {}

    @media screen
    and (max-width: $tablet){
        margin-bottom: 50px;
        &-panel {
            margin-bottom: 15px;
        }
        &-list-item {
            width: 267px;
        }
        &-pic {
            height: 172px;
        }
        &-img {
            width: auto;
            max-width: 331px;
        }
        &-block {
            margin-bottom: 20px;
        }
        &-detail {
            min-height: 69px;
            padding: 12px 15px;
        }
        &-info {
            min-height: auto;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 2;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            display: -webkit-box;
            display: box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            box-orient: vertical;
        }
        &-discount {
            top: 15px;
            right: 15px;
        }
        &-slider-nav {
            display: flex;
        }
    }
    @media screen
    and (max-width: $mobile){
        margin-bottom: 38px;
        &-panel {
            margin-bottom: 20px;
        }
        &-list-item {
            width: 252px;
        }
        &-slider-nav {
            display: none;
        }
    }
}

@keyframes video-animation {
    100% {
        width: 97px;
        height: 97px;
    }
}

.main-about {
    display: flex;
    margin-bottom: 54px;
    &-img {
        width: 51%;
        padding-right: 20px;
    }
    &-detail {
        width: 49%;
        padding-bottom: 20px;
    }
    &-title {
        margin-top: 5px;
        margin-bottom: 14px;
    }
    &-info {
        margin-bottom: 18px;
    }
    &-plus {
        display: flex;
        margin-bottom: 20px;
        border-top: 1px solid #DADDE2;
    }
    &-plus-item {
        padding: 15px 23px 7px;
        border: solid #DADDE2;
        border-width: 0 1px 0 0;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border-right-width: 0;
        }
    }
    &-plus-digit {
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: #BA001A
    }
    &-plus-info {
        max-width: 270px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #111111;
    }
    &-plus-item:last-child &-plus-info {
        min-width: 149px;
    }
    &-link {
        display: block;
        position: relative;
    }
    &-pic {
        display: block;
        width: 100%;
        border-radius: 10px;
    }
    &-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 62px;
        background-color: #fff;
        border-radius: 50%;
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 72px;
            height: 72px;
            max-width: none;
            max-height: none;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            animation: video-animation 1.9s ease-in-out infinite;

        }
    }
    &-play-icon {
        width: 21px;
        height: 24px;
        margin-left: 8px;
        background: url(../images/icons/video-play-icon.svg) no-repeat 0 0;
    }
    &-plus-item:hover &-plus-digit {
        color: #111111;
    }
    &-plus-item:hover &-plus-info {
        color: #333;
    }

    @media screen
    and (max-width: $notebook){
        &-plus-item:last-child &-plus-info {
            min-width: auto;
        }
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 44px;
        &-title {
            margin-top: 7px;
            margin-bottom: 16px;
        }
        &-img {
            width: 51%;
            padding-right: 16px;
        }
        &-plus-item {
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 7px;
        }
        &-detail {
            width: 49%;
            padding-bottom: 20px;
        }
        &-link {
            height: 100%;
        }
        &-pic {
            height: 100%;
            object-fit: cover;
        }
        &-plus {
            margin-bottom: 32px;
        }
        &-plus-digit {
            margin-bottom: 5px;
            font-size: 24px;
            line-height: 35px;
        }
        &-info {
            margin-bottom: 12px;
        }
        &-plus-item:last-child &-plus-info {
            min-width: auto;
        }
    }
    @media screen
    and (max-width: $mobile){
        flex-direction: column;
        margin-bottom: 46px;
        &-info {
            margin-bottom: 11px;
        }
        &-img {
            width: 100%;
            padding-right: 0;
        }
        &-detail {
            order: -1;
            width: 100%;
            padding-bottom: 0;
            margin-bottom: 22px;
        }
        &-link {
            height: 291px;
        }
        &-plus {
            flex-direction: column;
            border-top-width: 0;
            margin-bottom: 8px;
        }
        &-plus-info {
            max-width: none;
            letter-spacing: -0.005em;
        }
        &-plus-item {
            border-bottom: 1px solid #DADDE2;
            border-right-width: 0;
            padding-top: 10px;
            padding-right: 0;
            padding-bottom: 13px;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom-width: 0;
                padding-bottom: 0;
            }
        }
    }
}

.products {
    margin-bottom: 55px;
    position: relative;
    &-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 0;
    }
    &-nav {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
    }
    &-nav-item {
        width: auto;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-nav-label {
        display: block;
        padding: 6px 14px;
        background-color: #E9EDF5;
        border-radius: 13px;
        height: 25px;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.022em;
        color: #000000;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
            color: #fff;
            background-color: #000;
        }
        &:active {
            color: #fff;
            background-color: #333333;
        }
    }
    &-nav-item_active {}
    &-nav-item_active &-nav-label {
        color: #fff;
        font-weight: 700;
        background-color: #000;
    }
    &-list {
        display: flex;
    }
    &-list-item {
        width: 218px;
    }
    &-links {
        text-align: center;
    }
    &-wrapper {
        margin-bottom: 26px;
    }
    &-slider-nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 45px;
        &-wrapper {
            margin-bottom: 17px;
        }
    }
    @media screen
    and (max-width: $mobile){
        margin-bottom: 46px;
        &-wrapper {
            margin-bottom: 16px;
        }
        &-nav {
            margin-bottom: 20px;
        }
        &-nav-item {
            margin-right: 10px;
        }
    }
}

.links {
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: 16px;
    &-item {
        margin-bottom: 13px;
    }
    &-label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 33px;
        height: 33px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
    &-label_active {
        background-color: #BA001A;
        border-width: 0;
    }
    &-icon {
        display: block;
        position: relative;
        z-index: 1;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    &-label_active &-icon_wishlist {
        background-image: url(../images/products/products-icons/wishlist-icon-light.svg);
    }
    &-icon_wishlist {
        width: 17px;
        background-image: url(../images/products/products-icons/wishlist-icon.svg);
    }
    &-icon_compare {
        background-image: url(../images/products/products-icons/compare-icon.svg);
        background-position: -4px -3px;
    }
    &-label_active &-icon_compare {
        background-image: url(../images/products/products-icons/compare-icon-light.svg);
    }
    &-icon_search {
        width: 17px;
        background-image: url(../images/products/products-icons/search-icon.svg);
    }
    &-info {
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        width: 99px;
        height: 100%;
        padding: 5px 19px;
        border-radius: 17px;
        background-color: #BA001A;
        font-weight: 700;
        font-size: 9px;
        line-height: 10px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    &-item_search {}
    &-item_search &-label:hover {
        background-color: #BA001A;
        border-width: 0;
    }
    &-label:hover &-info {
        visibility: visible;
    }
    &-label:hover &-icon_search {
        background-image: url(../images/products/products-icons/search-icon-light.svg);
    }
}

.product {
    &-block {
        position: relative;
        display: block;
        margin-bottom: 13px;
    }
    &-block:hover .links {
        visibility: visible;
    }
    &-link {
        display: block;
        height: 219px;
        overflow: hidden;
        border-radius: 10px;
    }
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s linear;
    }
    &-link:hover &-img {
        transform: scale(1.12);
    }
    &-mark {
        position: absolute;
        top: 12px;
        left: 15px;
        min-width: 52px;
        height: 15px;
        padding: 2px 7px;
        background-color: #111111;
        border-radius: 3px;
        font-weight: 700;
        font-size: 9px;
        line-height: 13px;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
    }
    &-mark_simple {
        background-color: #EF822B;
    }
    &-info {}
    &-name {
        display: block;
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.022em;
        color: #111111;
    }
    &-more {
        display: block;
        text-align: right;
    }
    &-more-link {
        text-decoration: underline;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #000000;
        &:hover {
            text-decoration: none;
        }
    }
    &-price {
        display: block;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
    }
    &-brand {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
    }
    &-brand-item {
        position: relative;
        padding-right: 6px;
        margin-right: 11px;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -1px;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #111;
        }
        &:last-child:after {
            display: none;
        }
    }
    &-brand-icon {
        width: 16px;
        height: 10px;
        margin-right: 6px;
    }
    &-brand-logo {
        display: block;
        max-width: 100px;
        height: 29px;
    }
    &-color {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right: -6px;
        margin-bottom: 4px;
    }
    &-color-item {
        margin-right: 5.5px;
        margin-bottom: 6px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-color-item_hide {
        display: none;
    }
    &-color-link {
        display: block;
        width: 31px;
        height: 31px;
    }
    &-color-img {
        display: block;
        height: 100%;
        object-fit: contain;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
    }
}

.brands {
    margin-bottom: 56px;
    &-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 0;
    }
    &-wrapper {
        position: relative;
        margin-bottom: 30px;
        padding-top: 32px;
        background-color: rgba(233, 237, 245, 0.9);
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100vw;
            height: 100%;
            background-color: rgba(233, 237, 245, 0.9);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            height: 100%;
            background-color: rgba(233, 237, 245, 0.9);
        }
    }
    &-inner {
        overflow: hidden;
    }
    &-block {}
    &-block-item {
        width: 1170px;
    }
    &-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right: -39px;
    }
    &-list-item {
        margin-bottom: 35px;
        margin-right: 36px;
    }
    &-list-img {
        display: block;
        max-width: 202px;
        max-height: 91px;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 46px;
        &-panel {
            margin-bottom: 19px;
        }
        &-wrapper {
            margin-bottom: 19px;
        }
        &-inner {
            overflow: visible;
        }
        &-block-item {
            width: 1095px;
        }
        &-list {
            margin-right: 0;
        }
        &-list-item {
            margin-right: 28px;
            margin-bottom: 31px;
        }
        &-list-img {
            max-width: 155px;
            max-height: 71px;
        }
    }
    @media screen
    and (max-width: $mobile){
        margin-bottom: 46px;
        &-wrapper {
            padding-top: 21px;
        }
        &-block-item {
            width: 490px;
        }
        &-list-item {
            margin-right: 21px;
            margin-bottom: 22px;
        }
        &-list-img {
            max-width: 101px;
            max-height: 68px;
        }
    }
}

.inspiration {
    margin-bottom: 50px;
    &-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 0;
    }
    &-wrapper {
        margin-left: 99px;
        margin-right: 99px;
    }
    &-list {}
    &-list-item {}
    &-pic {
        position: relative;
        height: 382px;
        overflow: hidden;
        margin-bottom: 18px;
    }
    &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &-name {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
    }
    &-link {
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
        &:hover {
            color: #BA001A;
        }
    }
    &-link-icon {
        display: inline-block;
        width: 21px;
        height: 12px;
        margin-left: 10px;
        background: url(../images/icons/arrow-right-dark.svg) no-repeat 0 0;
    }
    &-link:hover &-link-icon {
        background-image: url(../images/icons/arrow-right-red.svg);
    }
    &-detail {
        margin-bottom: 12px;
    }
    &-brand {
        position: absolute;
        top: 24px;
        left: 21px;
        display: flex;
        align-items: center;
        padding: 5px 8px;
        max-width: 190px;
        height: 39px;
        background-color: #fff;
        border-radius: 5px;
    }
    &-point {
        position: absolute;
        left: 50%;
    }
    &-point-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.1s linear;
    }
    &-point-icon-inner {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        transition: transform 0.1s linear;
    }
    &-popup {
        display: none;
        overflow: hidden;
        width: 242px;
        height: 247px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(148, 146, 146, 0.25);
        border-radius: 5px;
    }
    &-tpd-tooltip {
        transform: translate(44px, -8px);
    }
    &-point:hover &-point-icon,
    &-point_active &-point-icon {
        transform: scale(1.08);
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #FFFFFF;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    }
    &-point:hover &-point-icon-inner,
    &-point_active &-point-icon-inner {
        transform: scale(1.08);
        background-color: #BA001A;
        box-shadow: 0px 0px 4px rgba(186, 0, 26, 0.15);
    }

    &-popup-wrapper {
        padding: 14px 15px 22px;
    }
    &-popup-panel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
        text-decoration: none!important;
    }
    &-popup-name {
        max-width: 114px;
        min-height: 44px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #1C1C1C;
    }
    &-popup-icon {
        width: 7px;
        height: 13px;
        background: url(../images/inspiration/inspiration-icons/arrow-right.svg) no-repeat 0 0;
    }
    &-popup-info {
        margin-bottom: 2px;
        font-size: 14px;
        line-height: 22px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 1;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
    &-popup-more {
        display: inline-block;
        margin-bottom: 13px;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #BA001A!important;
        &:hover {
            color: #BA001A;
            text-decoration: none!important;
        }
    }
    &-popup-detail {
        display: flex;
        margin-bottom: 5px;
    }
    &-popup-pic {
        min-width: 65px;
        width: 65px;
        height: 65px;
        margin-right: 17px;
    }
    &-popup-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-popup-text {
        font-size: 12px;
        line-height: 19px;
    }
    &-popup-text-item {
        margin-bottom: 3px;
    }
    &-popup-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-popup-price {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.085em;
        color: #000000;
    }
    &-popup-button {
        display: flex;
        align-items: center;
        height: 37px;
        border-radius: 19px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        text-transform: none;
        text-decoration: none!important;
        color: #fff!important;
    }
    &-popup-button-icon {
        display: block;
        width: 20px;
        height: 19px;
        margin-right: 7px;
        background: url(../images/inspiration/inspiration-icons/basket-icon.svg) no-repeat 0 0;
    }

    @media screen
    and (max-width: $tablet){
        &-wrapper {
            margin-left: 60px;
            margin-right: 60px;
        }
        &-panel {
            margin-bottom: 19px;
        }
        &-name {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 26px;
        }
        &-brand {
            top: 15px;
            left: 15px;
            max-width: 140px;
            height: 23px;
            padding: 5px 6px;
        }
        &-point-icon {
            width: 30px;
            height: 30px;
        }
        &-popup {
            width: 205px;
        }
        &-point-icon-inner {
            width: 12px;
            height: 12px;
        }
    }
    @media screen
    and (max-width: $mobile){
        display: none;
    }
}

.articles {
    margin-bottom: 65px;
    &-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 0;
    }
    &-wrapper {
        margin-bottom: 29px;
    }
    &-list {
        display: flex;
    }
    &-list-item {
        width: 202px;
    }
    &-list-link {
        position: relative;
        display: block;
        height: 277px;
        margin-bottom: 15px;
        text-decoration: none;
    }
    &-list-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &-list-info {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
    &-list-block {
        position: relative;
        display: block;
        padding: 10px 15px;
        height: 100%;
    }
    &-list-mark {
        display: inline-block;
        min-width: 49px;
        height: 15px;
        margin-bottom: 10px;
        padding: 1px 12px 1px;
        background-color: #111111;
        border-radius: 3px;
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
    }
    &-links {
        text-align: center;
    }
    &-list-more {
        visibility: hidden;
        position: absolute;
        bottom: 27px;
        right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 37px;
        background-color: #BA001A;
        border-radius: 50%;
    }
    &-list-more-icon {
        display: block;
        width: 21px;
        height: 12px;
        background: url(../images/icons/arrow-right.svg) no-repeat 0 0;
    }
    &-list-link:hover &-list-more {
        visibility: visible;
    }
    &-list-name {
        display: block;
        margin-top: 7px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.95);
    }


    @media screen
    and (max-width: $tablet){
        margin-bottom: 49px;
        &-panel {
            margin-bottom: 19px;
        }
        &-wrapper {
            margin-bottom: 16px;
        }
    }

    @media screen
    and (max-width: $mobile){
        margin-bottom: 50px;
        &-wrapper {
            margin-bottom: 15px;
        }
        &-list-item {
            width: 218px;
        }
    }
}

.subscribe {
    display: flex;
    min-height: 230px;
    box-shadow: 0px 0px 20px rgba(171, 171, 171, 0.25);
    border-radius: 10px;
    &-img {
        width: 49%;
        max-width: 570px;
        position: relative;
        background: url(../images/subscribe/subscribe-img-1.png) no-repeat right bottom;
        border-radius: 10px 0 0 10px;
        @include clearfix();
    }
    &-detail {
        width: 51%;
        padding: 22px 23px;
    }
    &-name {
        display: block;
        margin-bottom: 14px;
    }
    &-info {
        margin-bottom: 9px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.9);
    }
    &-decor {
        position: absolute;
        bottom: 56px;
        right: 144px;
        width: 234px;
        height: 199px;
        background: url(../images/subscribe/subscribe-img-2.png) no-repeat 0 0;
    }
    &-button {
        padding-left: 30px;
        padding-right: 20px;
    }
    &-list {
        float: right;
        position: relative;
        margin-top: 80px;
        margin-right: 40px;
    }
    &-list-item {
        margin-bottom: 7px;
    }
    &-list-label {
        display: inline-block;
        min-height: 15px;
        padding: 1px 10px;
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        color: #FFFFFF;
        background-color: #111111;
        border-radius: 3px;
        text-transform: uppercase;
    }
    &-input {
        width: 100%;
        height: 34px;
        margin-bottom: 24px;
        padding: 7px 0;
        border: solid rgba(79, 79, 79, 0.5);
        border-width: 0 0 1px 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #4F4F4F;
        background-color: #fff;
        &:focus {
            border-color: #4F4F4F;
        }
        &::placeholder {
            font-size: 14px;
            font-weight: 300;
            color: #4F4F4F;
        }
    }
    &-list-item_discount {}
    &-list-item_discount &-list-label {
        background-color: #0BCDDE;
    }
    &-list-item_profitable {}
    &-list-item_profitable &-list-label {
        background-color: #F79E1B;
    }

    @media screen
    and (max-width: $tablet){
        min-height: 224px;
        &-img {
            width: 44%;
            max-width: 447px;
            background-image: url(../images/subscribe/subscribe-img-3.png);
        }
        &-detail {
            width: 56%;
            padding: 17px 20px;
        }
        &-decor {
            display: none;
        }
        &-list {
            margin-top: 52px;
            margin-right: 0;
        }
    }
    @media screen
    and (max-width: $mobile){
        flex-direction: column;
        max-width: 326px;
        margin-left: auto;
        margin-right: auto;
        &-detail {
            order: -1;
            width: 100%;
            padding-top: 26px;
            padding-bottom: 8px;
        }
        &-img {
            width: 100%;
            min-height: 190px;
            border-radius: 0 0 10px 10px;
            background-image: url(../images/subscribe/subscribe-img-4.png);
            background-position: left bottom;
        }
        &-list {
            float: none;
            margin-top: 21px;
            margin-left: 170px;
        }
        &-name {
            margin-bottom: 15px;
        }
        &-info {
            margin-bottom: 8px;
        }
    }
}
