
/* Fancybox */
.fancybox-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.fancybox-slide {
    padding: 30px 40px;
}
.fancybox-slide_simple {
    padding: 0;
}

.fancybox-slide--html {
    padding: 0;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
}

.fancybox-close-small {
    width: 33px;
    height: 33px;
    top: -50px;
    padding: 0;
    opacity: 1;
}

.fancybox-close {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-color: #fff;
}
.fancybox-close:hover {
}

.fancybox-close-icon {
}
.fancybox-close:hover .fancybox-close-icon {
    path {
        fill: #D50A0A;
    }
}
.fancybox-slide_simple .fancybox-close {
    top: 34px;
    left: auto;
    right: 30px;
    width: 18px;
    height: 18px;
    background-color: transparent;
}
.fancybox-slide_simple .fancybox-close-icon {
    width: 18px;
    height: 18px;
    path {
       fill: #2873B9;
    }
}

.fancybox-nav-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fancybox-button {
    padding: 0;
    vertical-align: middle;
}

.fancybox-button--arrow_left {
    width: 33px;
    height: 100%;
    background-color: transparent;
    margin-left: -43px;
}
.fancybox-button--arrow_right {
    width: 33px;
    height: 100%;
    background-color: transparent;
    margin-right: -43px;
}

.fancybox-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #fff;
    &_left { }
    &_right {
    }
}
.fancybox-button .fancybox-button-arrow {
    width: 6px;
    height: 11px;
    path {
        fill: #D50A0A;
    }
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button:hover .fancybox-button-icon {
    background-color: #D50A0A;
}
.fancybox-button:hover .fancybox-button-arrow {
    path {
        fill: #fff;
    }
}

.fancybox-slide--image {
    .fancybox-close-small {
        top: -50px;
        right: -50px;
        background-color: transparent;
    }
}
.fancybox-active .wrapper {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
}

.fancybox-toolbar {
    display: none;
}
.fancybox-infobar {
    display: none;
}

@media screen
and (max-width: $tablet) {
}
@media screen
and (max-width: $mobile) {
}
/* /Fancybox */


@keyframes preloader-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    &-container {
        width: 70px;
        height: 70px;
        border: 6px solid rgb(234, 234, 234);
        border-top: 6px solid #59A750;
        border-radius: 50%;
        animation: preloader-animation 1s linear infinite;
    }
}

.decor-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 735px;
    background-color: #fff;
    padding: 65px 60px 60px;
    border-radius: 12px;

    @media screen
    and (max-width: $tablet) {
    }
    @media screen
    and (max-width: $mobile) {
    }
}
