
/* Fancybox */
.fancybox-bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.fancybox-slide {
    padding: 30px 40px;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
}

.fancybox-close-small {
    width: 33px;
    height: 33px;
    top: -50px;
    padding: 0;
    opacity: 1;
}

.fancybox-close {
    position: absolute;
    top: -27px;
    left: 100%;
    z-index: 1;
    margin-left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background: url("../images/icons/popup-close.svg") no-repeat 0 0;
}
.fancybox-close:hover {
}

.fancybox-close-icon {
}
.fancybox-close:hover .fancybox-close-icon {
    path {
        fill: #D50A0A;
    }
}

.fancybox-nav-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fancybox-button {
    padding: 0;
    vertical-align: middle;
}

.fancybox-button--arrow_left {
    width: 33px;
    height: 100%;
    background-color: transparent;
    margin-left: -43px;
}
.fancybox-button--arrow_right {
    width: 33px;
    height: 100%;
    background-color: transparent;
    margin-right: -43px;
}

.fancybox-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #fff;
    &_left { }
    &_right {
    }
}
.fancybox-button .fancybox-button-arrow {
    width: 6px;
    height: 11px;
    path {
        fill: #D50A0A;
    }
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button:hover .fancybox-button-icon {
    background-color: #D50A0A;
}
.fancybox-button:hover .fancybox-button-arrow {
    path {
        fill: #fff;
    }
}

.fancybox-slide--image {
    .fancybox-close-small {
        top: -50px;
        right: -50px;
        background-color: transparent;
    }
}

.fancybox-toolbar {
    display: none;
}
.fancybox-infobar {
    display: none;
}

@media screen
and (max-width: $tablet) {
}
@media screen
and (max-width: $mobile) {
    .fancybox-slide {
        padding: 50px 11px;
    }
    .fancybox-close {
        top: -32px;
        margin-left: -24px;
    }
}
/* /Fancybox */


@keyframes preloader-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    &-container {
        width: 70px;
        height: 70px;
        border: 6px solid rgb(234, 234, 234);
        border-top: 6px solid #59A750;
        border-radius: 50%;
        animation: preloader-animation 1s linear infinite;
    }
}

.decor-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 400px;
    background-color: #FEFEFE;
    padding: 33px 30px 45px;
    border-radius: 14px;
    &-title {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 28px;
        line-height: 41px;
        color: #000000;
    }
    &-button {
        width: 100%;
        font-size: 14px;
        line-height: 1.2em;
        letter-spacing: 0.022em;
        padding-top: 8px;
        padding-bottom: 6px;
    }
    &-button-field {
        margin-bottom: 17px;
    }
    &-actions-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    &-actions-list-item {
        margin-bottom: 2px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-actions-link {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.007em;
        color: #BA001A;
        text-decoration: none;
        &:hover {
            color: #BA001A;
            text-decoration: underline;
        }
    }
    &-info {
        max-width: 285px;
        margin-bottom: 20px;
        color: #000000;
        font-size: 14px;
        line-height: 21px;
    }
    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: $color-red;
        margin-bottom: 17px;
    }

    &-registration {
        padding-bottom: 50px;
    }
    &-code {
        padding-bottom: 40px;
    }
    &-code &-info a {
        text-decoration: none;
        color: $color-red;
    }
    &-code-help {
        margin-bottom: 37px;
        margin-left: auto;
        margin-right: auto;
        max-width: 187px;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #4F4F4F;
    }
    &-code-actions {
        text-align: center;
    }
    &-code-field {
        margin-bottom: 12px;
    }
    &-code &-title {
        margin-bottom: 17px;
    }

    &-city {
        display: none;
        max-width: 367px;
    }
    &_success {
        text-align: center;
    }
    &_success &-subtitle {
        color: #000;
    }

    @media screen
    and (max-width: $tablet) {
        &-title {
            font-size: 24px;
            line-height: 27px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        padding: 28px 23px 35px;
        &_success &-subtitle {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.city {
    &-block {
        margin-bottom: 12px;
    }
    &-list-wrapper {
        height: 215px;
    }
    &-list {
        padding-top: 10px;
    }
    &-list-item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-list-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: #111111;
        cursor: pointer;
    }
    &-list-link:hover {
        color: $color-red;
    }
    &-list-item_active &-list-link {
        color: $color-red;
    }
    &-field {
        position: relative;
    }
    &-input {
        font-size: 12px;
        line-height: 14px;
        &::placeholder {
            font-size: 12px;
            line-height: 14px;
        }
    }
    &-reset {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        width: 9px;
        height: 9px;
        background: url("../images/icons/cross.svg") no-repeat 0 0;
        background-size: 100% auto;
    }
    &-list-wrapper .simplebar-track {
        right: -30px;
    }
    &-radio {
    }

    @media screen
    and (max-width: $mobile) {
        &-list-wrapper .simplebar-track {
            right: -23px;
        }
        &-list-link {
            font-size: 15px;
        }
    }
}


.mob-form {
    &-block {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        max-width: 730px;
        padding-top: 90px;
        padding-bottom: 98px;
        background-color: #fff;
        border: solid #eaeaea;
        border-width: 0 1px 1px 0;
        transition: transform 0.3s linear;
        transform: translateX(100%);
        overflow: hidden;
    }
    &-decor {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &-show &-decor {
        display: block;
    }
    &-block.open {
        transform: translateX(0%);
    }
    .simplebar-track {
        right: 0px;
    }
}
body.mob-form-show {
    overflow: hidden;
}
body.mob-form-show .wrapper {
    overflow-y: scroll;
}

.products-popup {
    &-form-block {
        height: 100%;
        max-width: 760px;
        padding-top: 91px;
    }
    &-container {
        padding-left: 40px;
        padding-right: 40px;
    }
    &-panel {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 33px;
        padding-bottom: 25px;
    }
    &-basket {
        margin-right: auto;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.007em;
        color: #59A750;
        text-decoration: none;
        &:hover {
            color: #59A750;
        }
    }
    &-delete-link {
        text-transform: none;
        padding-left: 18px;
        padding-right: 18px;
    }
    &-delete-label {
    }
    &-close {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-left: 26px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.007em;
        color: #111111;
    }
    &-close-icon {
        width: 15px;
        height: 15px;
        margin-left: 9px;
        background: url(../images/icons/products-popup-close.svg) no-repeat 0 0;
    }
    &-close:hover &-close-icon {
        background-image: url(../images/icons/products-popup-close-red.svg);
    }
    &-body {
        height: 100%;
    }
    &-content {
        overflow-y: auto;
        height: 100%;
        margin-right: -20px;
        padding-right: 20px;
    }
    &-list {
    }
    &-item {
        display: flex;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #BDBDBD;
        border-radius: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-col {
        padding-right: 25px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-description {
        display: flex;
        width: 63%;
        padding-right: 15px;
    }
    &-order {
        min-width: 195px;
        width: 19%;
    }
    &-price {
        min-width: 90px;
        width: 17%;
    }
    &-img {
        margin-right: 20px;
    }
    &-title {
        display: flex;
        align-items: center;
        margin-right: auto;
        text-decoration: none;
    }
    &-title-label {
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
    }
    &-count {
        min-width: 25px;
        height: 25px;
        padding: 2px 5px;
        border-radius: 13px;
        margin-left: 11px;
        background-color: #D10D25;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5em;
        color: #FFFFFF;
        text-align: center;
    }
    &-link {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.06em;
        text-decoration: underline;
        color: #A5A5A5;
        &:hover {
            color: #A5A5A5;
            text-decoration: none;
        }
    }
    &-pic-link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 116px;
        width: 116px;
        height: 116px;
        border-radius: 4px;
        overflow: hidden;
    }
    &-pic {
        display: block;
        object-fit: contain;
        min-width: 100%;
        min-height: 100%;
    }
    &-buttons {
        display: flex;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 40px;
    }
    &-button {
        margin-right: 25px;
    }
    &-button-label {
    }
    &-total {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &-total-label {
        margin-right: 18px;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
    &-total-price {
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
    }
    &-total-currency {
        margin-left: 3px;
        font-size: 23px;
    }

    &-name {
        display: inline-block;
        margin-bottom: 14px;
        text-decoration: none;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.022em;
        color: #000000;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
    &-code {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.022em;
        color: #1C1D1D;
    }
    &-amount {
        margin-bottom: 17px;
    }
    &-discount-wrapper {
        margin-top: -4px;
        line-height: 15px;
    }
    &-price-old {
        position: relative;
        margin-right: 5px;
        font-size: 10px;
        line-height: 15px;
        color: $color-red;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -2px;
            width: calc(100% + 4px);
            height: 1px;
            margin-top: -1px;
            background-color: $color-red;
            max-width: none;
        }
    }
    &-discount {
        display: inline-block;
        min-width: 34px;
        background-color: #EF822B;
        border-radius: 3px 3px 3px 0;
        text-align: center;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.085em;
        color: #FFFFFF;
    }
    &-price-value {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        white-space: nowrap;
    }
    &-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }
    &-actions-item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-actions-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 33px;
        box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
        border-radius: 50%;
    }
    &-actions-icon {
        display: block;
        width: 18px;
        height: 17px;
        background: no-repeat 0 0;
    }
    &-actions-icon_wishlist {
        margin-top: 1px;
        background-image: url(../images/products/products-icons/wishlist-icon-light.svg);
        background-size: 100% auto;
    }
    &-actions-link_active &-actions-icon_wishlist,
    &-actions-link:hover &-actions-icon_wishlist {
        background-image: url(../images/products/products-icons/wishlist-icon.svg);
    }
    &-actions-icon_box {
        width: 15px;
        height: 19px;
        background-image: url(../images/basket/basket-icons/urn-icon.svg);
    }
    &-actions-link_active &-actions-icon_box,
    &-actions-link:hover &-actions-icon_box {
        background-image: url(../images/basket/basket-icons/urn-icon-red.svg);
    }
    &-actions-icon_compare {
        width: 16px;
        height: 15px;
        background-image: url(../images/product-popup/product-popup-icons/compare-icon.svg);
    }
    &-actions-link_active &-actions-icon_compare,
    &-actions-link:hover &-actions-icon_compare {
        background-image: url(../images/product-popup/product-popup-icons/compare-icon-red.svg);
    }
    &-price-symbol {
        vertical-align: super;
        font-size: 8px;
    }

    @media screen
    and (max-width: $mobile){
        &-container {
            padding-left: 20px;
            padding-right: 20px;
        }
        &-panel {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &-form-block {
            padding-top: 63px;
        }
        &-title-label {
            font-size: 16px;
            line-height: 18px;
        }
        &-item {
            flex-wrap: wrap;
            margin-bottom: 15px;
            padding: 13px;
        }
        &-description {
            width: 100%;
            padding-right: 0;
        }
        &-detail {
            max-width: 400px;
            margin-bottom: 15px;
        }
        &-order {
            width: 34%;
        }
        &-price {
            width: 20%;
            margin-top: -3px;
        }
        &-img {
            margin-bottom: 15px;
            margin-right: 15px;
        }
        &-pic-link {
            min-width: 60px;
            width: 60px;
            height: 60px;
        }
        &-price-value {
            margin-bottom: 14px;
            line-height: 16px;
        }
        &-discount-wrapper {
            min-height: 16px;
        }
        &-name {
            margin-bottom: 9px;
        }
        &-delete-link {
            margin-left: 10px;
        }
        &-delete-label {
            display: none;
        }
        &-close {
            margin-left: 15px;
            font-size: 12px;
        }
        &-close-icon {
            margin-left: 6px;
        }
        &-count {
            min-width: 20px;
            height: 20px;
            margin-left: 8px;
            padding: 1px 3px;
            font-size: 12px;
        }
        &-buttons {
            flex-wrap: wrap;
            padding-top: 10px;
            padding-bottom: 15px;
        }
        &-button {
            margin-right: 10px;
            margin-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &-button-label {
            display: none;
        }
        &-total-label {
            margin-right: 10px;
            font-size: 13px;
            line-height: 17px;
        }
        &-total-price {
            font-size: 20px;
            line-height: 30px;
        }
        &-total-currency {
            font-size: 19px;
        }
        &-actions {
            justify-content: normal;
        }
    }
}


.wishlist-list {
    &-block {
        max-width: 580px;
    }
    &-item {
        display: flex;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #BDBDBD;
        border-radius: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-col {
        padding-right: 25px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-img {
        padding-right: 20px;
    }
    &-description {
        display: flex;
    }
    &-order {
        width: 195px;
    }
    &-price {
        min-width: 90px;
        width: 17%;
    }
    &-pic-link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 91px;
        width: 91px;
        height: 91px;
        border-radius: 4px;
        overflow: hidden;
    }
    &-pic {
        display: block;
        object-fit: contain;
        min-width: 100%;
        min-height: 100%;
    }
    &-name {
        text-decoration: none;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
    &-brand {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
    }
    &-brand-item {
        position: relative;
        padding-right: 10px;
        margin-right: 11px;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -1px;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #111;
        }
        &:last-child:after {
            display: none;
        }
    }
    &-brand-logo {
        display: block;
        max-width: 100px;
        max-height: 29px;
    }
    &-brand-icon {
        width: 16px;
        height: 10px;
        margin-right: 6px;
    }

    @media screen
    and (max-width: $mobile){
        &-block {
            padding-bottom: 63px;
        }
        &-item {
            flex-wrap: wrap;
        }
        &-pic-link {
            min-width: 60px;
            width: 60px;
            height: 60px;
        }
        &-img {
            padding-right: 15px;
        }
        &-detail {
            max-width: 400px;
            margin-bottom: 15px;
        }
        &-price {
            display: flex;
            width: 100%;
        }
    }
}

.product-popup {
    width: 667px;
    max-width: 100%;
    padding: 30px;
    &-content {
        @include clearfix();
    }
    &-gallery {
        float: left;
        width: 48%;
        padding-right: 20px;
    }
    &-detail {
        float: right;
        width: 52%;
    }
    &-title {
        display: block;
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.022em;
        color: #000000;
    }
    &-subtitle {
        display: block;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.022em;
        color: #000000;
    }
    &-img {
        display: block;
        width: 100%;
        border-radius: 7px;
    }
    &-props {
        margin-bottom: 24px;
    }
    &-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &-price-block {
        width: 60%;
        padding-right: 30px;
        margin-bottom: 4px;
    }
    &-price-actions {
        width: 40%;
        align-self: flex-end;
    }
    &-price-actions {}
    &-price-old {
        position: relative;
        margin-right: 5px;
        font-size: 12px;
        line-height: 15px;
        color: #BA001A;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -3px;
            width: calc(100% + 6px);
            height: 1px;
            margin-top: -1px;
            background-color: #BA001A;
            max-width: none;
        }
    }
    &-discount-wrapper {
        margin-bottom: 2px;
    }
    &-discount {
        display: inline-block;
        min-width: 41px;
        background-color: #EF822B;
        border-radius: 3px 3px 3px 0;
        text-align: center;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.085em;
        color: #FFFFFF;
    }
    &-price-value {
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        color: #000000;
        white-space: nowrap;
    }
    &-price-symbol {
        vertical-align: super;
        font-size: 12px;
    }
    &-currency {
        font-size: 23px;
    }
    &-delivery {
        display: flex;
        flex-wrap: wrap;
    }
    &-delivery-item {
        display: flex;
        width: 148px;
        margin-bottom: 15px;
        padding-right: 17px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-delivery-info {}
    &-delivery-name {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.022em;
        color: #000000;
    }
    &-delivery-text {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.022em;
        color: #4F4F4F;
    }
    &-delivery-label {
        color: $color-red;
    }
    &-delivery-icon {
        display: block;
        min-width: 24px;
        width: 24px;
        height: 19px;
        margin-right: 12px;
        background: no-repeat 0 0;
    }
    &-delivery-icon_auto {
        background-image: url(../images/product-popup/product-popup-icons/delivery-auto-icon.svg);
    }
    &-delivery-icon_pickup {
        min-width: 20px;
        width: 20px;
        height: 22px;
        background-image: url(../images/product-popup/product-popup-icons/delivery-pickup-icon.svg);
    }
    &-buttons {
        display: flex;
        flex-wrap: wrap;
    }
    &-button {
        margin-right: 16px;
        padding-left: 23px;
        padding-right: 23px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-button_simple {
        min-width: 134px;
        text-transform: none;
    }

    @media screen
    and (max-width: $mobile){
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        &-title {
            font-size: 16px;
            line-height: 21px;
        }
        &-content {
            display: flex;
            flex-direction: column;
        }
        &-gallery {
            float: none;
            max-width: 100%;
            width: 273px;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
            margin-bottom: 25px;
        }
        &-detail {
            float: none;
            width: 100%;
        }
        &-detail_title {
            order: -1;
        }
        &-button {
            margin-right: 10px;
            margin-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &-button_simple {
            min-width: auto;
        }
        &-price {
            flex-wrap: wrap;
        }
    }
}

.added-basket-popup {
    width: 733px;
    padding-top: 22px;
    padding-bottom: 30px;
    &-product {
        display: flex;
        padding-bottom: 14px;
        margin-bottom: 20px;
        border-bottom: 1px solid #BDBDBD;
    }
    &-col {
        padding-right: 25px;
    }
    &-description {
        display: flex;
        width: 63%;
        padding-right: 15px;
    }
    &-img {
        margin-right: 20px;
    }
    &-pic-link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 116px;
        width: 116px;
        height: 116px;
        border-radius: 4px;
        overflow: hidden;
    }
    &-pic {
        display: block;
        object-fit: contain;
        min-width: 100%;
        min-height: 100%;
    }
    &-name {
        display: inline-block;
        margin-bottom: 14px;
        text-decoration: none;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.022em;
        color: #000000;
    }
    &-code {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.022em;
        color: #1C1D1D;
    }
    &-order {
        min-width: 195px;
        width: 19%;
    }
    &-amount {
        margin-bottom: 15px;
    }
    &-price {
        min-width: 90px;
        width: 17%;
    }
    &-info {
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.022em;
        color: #828282;
    }
    &-price-symbol {
        vertical-align: super;
        font-size: 7px;
    }
    &-panel {
        display: flex;
        align-items: center;
    }
    &-sum {
        margin-right: auto;
        padding-right: 20px;
        font-size: 12px;
        line-height: 17px;
        color: #828282;
    }
    &-button {
        margin-left: 20px;
        text-transform: none;
        padding-left: 18px;
        padding-right: 18px;
    }
}