
/* Fancybox */
.fancybox-bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.fancybox-slide {
    padding: 30px 40px;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
}

.fancybox-close-small {
    width: 33px;
    height: 33px;
    top: -50px;
    padding: 0;
    opacity: 1;
}

.fancybox-close {
    position: absolute;
    top: -27px;
    left: 100%;
    z-index: 1;
    margin-left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background: url("../images/icons/popup-close.svg") no-repeat 0 0;
}
.fancybox-close:hover {
}

.fancybox-close-icon {
}
.fancybox-close:hover .fancybox-close-icon {
    path {
        fill: #D50A0A;
    }
}

.fancybox-nav-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fancybox-button {
    padding: 0;
    vertical-align: middle;
}

.fancybox-button--arrow_left {
    width: 33px;
    height: 100%;
    background-color: transparent;
    margin-left: -43px;
}
.fancybox-button--arrow_right {
    width: 33px;
    height: 100%;
    background-color: transparent;
    margin-right: -43px;
}

.fancybox-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #fff;
    &_left { }
    &_right {
    }
}
.fancybox-button .fancybox-button-arrow {
    width: 6px;
    height: 11px;
    path {
        fill: #D50A0A;
    }
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button:hover .fancybox-button-icon {
    background-color: #D50A0A;
}
.fancybox-button:hover .fancybox-button-arrow {
    path {
        fill: #fff;
    }
}

.fancybox-slide--image {
    .fancybox-close-small {
        top: -50px;
        right: -50px;
        background-color: transparent;
    }
}

.fancybox-toolbar {
    display: none;
}
.fancybox-infobar {
    display: none;
}

@media screen
and (max-width: $tablet) {
}
@media screen
and (max-width: $mobile) {
    .fancybox-slide {
        padding: 50px 11px;
    }
    .fancybox-close {
        top: -32px;
        margin-left: -24px;
    }
}
/* /Fancybox */


@keyframes preloader-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    &-container {
        width: 70px;
        height: 70px;
        border: 6px solid rgb(234, 234, 234);
        border-top: 6px solid #59A750;
        border-radius: 50%;
        animation: preloader-animation 1s linear infinite;
    }
}

.decor-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    width: 400px;
    background-color: #FEFEFE;
    padding: 33px 30px 45px;
    border-radius: 14px;
    &-title {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 28px;
        line-height: 41px;
        color: #BA001A
    }
    &-button {
        width: 100%;
        font-size: 14px;
        letter-spacing: 0.022em;
        padding-top: 8px;
        padding-bottom: 6px;
    }
    &-button-field {
        margin-bottom: 17px;
    }
    &-actions-list {
        margin-bottom: 16px;
    }
    &-actions-list-item {
        margin-bottom: 2px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-actions-link {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.007em;
        color: #BA001A;
        text-decoration: none;
        &:hover {
            color: #BA001A;
            text-decoration: underline;
        }
    }
    &-info {
        max-width: 285px;
        margin-bottom: 20px;
        color: #000000;
        font-size: 14px;
        line-height: 21px;
    }
    &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #111111;
        margin-bottom: 17px;
    }

    &-registration {
        padding-bottom: 50px;
    }
    &-code {
        padding-bottom: 40px;
    }
    &-code &-info a {
        text-decoration: none;
        color: $color-red;
    }
    &-code-help {
        margin-bottom: 37px;
        margin-left: auto;
        margin-right: auto;
        max-width: 187px;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #4F4F4F;
    }
    &-code-actions {
        text-align: center;
    }
    &-code-field {
        margin-bottom: 12px;
    }
    &-code &-title {
        margin-bottom: 17px;
    }

    &-city {
        max-width: 367px;
    }

    @media screen
    and (max-width: $tablet) {
        &-title {
            font-size: 24px;
            line-height: 27px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        padding: 28px 23px 35px;
    }
}
