
.profile {
    display: flex;
    &-side {
        width: 24%;
        padding-right: 30px;
    }
    &-content {
        width: 76%;
    }
    &-line {
        margin-top: 20px;
        margin-bottom: 24px;
    }
    &-user {}
    &-menu {
        max-width: 224px;
    }
    &-menu-item {
        margin-bottom: 16px;
    }
    &-menu-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.022em;
        color: #000000;
        border-radius: 17px;
    }
    &-menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 33px;
        width: 33px;
        height: 33px;
        margin-right: 11px;
        border-radius: 50%;
    }
    &-menu-icon-pic {
        display: block;
        width: 17px;
        height: 19px;
        background: no-repeat 0 0;
    }
    &-menu-icon-pic_user {
        margin-top: -1px;
        background-image: url("../images/profile/profile-user-icon.svg");
    }
    &-menu-icon-pic_orders {
        margin-top: -1px;
        background-image: url("../images/profile/profile-orders-icon.svg");
    }
    &-menu-icon-pic_history {
        width: 20px;
        height: 21px;
        background-image: url("../images/profile/profile-history-icon.svg");
    }
    &-menu-icon-pic_compare {
        width: 20px;
        height: 18px;
        background-image: url("../images/profile/profile-compare-icon.svg");
        background-position: -4px 0;
    }
    &-menu-icon-pic_wishlist {
        width: 20px;
        height: 19px;
        margin-top: 1px;
        background-image: url("../images/profile/profile-wishlist-icon.svg");
    }
    &-menu-icon-pic_settings {
        width: 20px;
        height: 20px;
        background-image: url("../images/profile/profile-settings-icon.svg");
    }
    &-menu-item:hover &-menu-link {
        background-color: #E9EDF5;
    }
    &-menu-item:hover &-menu-icon {
        background-color: $color-red;
    }
    &-menu-item_active &-menu-link {
        background-color: #E9EDF5;
    }
    &-menu-item_active &-menu-icon {
        background-color: $color-red;
    }
    &-menu-item:hover &-menu-icon-pic_user,
    &-menu-item_active &-menu-icon-pic_user {
        background-image: url("../images/profile/profile-user-icon-light.svg");
    }
    &-menu-item:hover &-menu-icon-pic_orders,
    &-menu-item_active &-menu-icon-pic_orders {
        background-image: url("../images/profile/profile-orders-icon-light.svg");
    }
    &-menu-item:hover &-menu-icon-pic_history,
    &-menu-item_active &-menu-icon-pic_history {
        background-image: url("../images/profile/profile-history-icon-light.svg");
    }
    &-menu-item:hover &-menu-icon-pic_compare,
    &-menu-item_active &-menu-icon-pic_compare {
        background-image: url("../images/profile/profile-compare-icon-light.svg");
    }
    &-menu-item:hover &-menu-icon-pic_wishlist,
    &-menu-item_active &-menu-icon-pic_wishlist {
        background-image: url("../images/profile/profile-wishlist-icon-light.svg");
    }
    &-menu-item:hover &-menu-icon-pic_settings,
    &-menu-item_active &-menu-icon-pic_settings {
        background-image: url("../images/profile/profile-settings-icon-light.svg");
    }

    &-title {
        display: flex;
        align-items: center;
        margin-top: -8px;
    }
    &-title-amount {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        margin-left: 11px;
        padding: 2px 2px 1px;
        border-radius: 50%;
        background-color: #D10D25;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }

    &-orders {
        margin-bottom: 30px;
    }
    &-orders-item {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-orders-block {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(171, 171, 171, 0.2);
    }
    &-orders-panel {
        display: flex;
        align-items: center;
        min-height: 54px;
        padding: 14px 20px 14px;
        background-color: rgba(233, 237, 245, 0.7);
        text-decoration: none;
    }
    &-orders-content {
        display: flex;
        align-items: center;
        padding: 18px 24px 10px 20px;
    }
    &-orders-name {
        margin-right: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
    }
    &-orders-number {
        margin-right: 30px;
        font-size: 14px;
        line-height: 22px;
        color: #D10D25;
    }
    &-orders-price {
        margin-left: auto;
        font-size: 16px;
        line-height: 23px;
        color: #111111;
    }
    &-orders-col {
        padding-right: 15px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-orders-delivery {
        width: 25%;
        align-self: center;
        margin-top: -10px;
    }
    &-orders-delivery-label {
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
    }
    &-orders-status {
        width: 25%;
        margin-top: -10px;
    }
    &-orders-status-label {
        cursor: auto;
        &:hover {
            font-weight: normal;
        }
        &:active {
            font-weight: normal;
        }
    }
    &-orders-activity {
        width: 16%;
        margin-top: -10px;
        text-align: right;
    }
    &-orders-link {
        display: inline-block;
        min-width: 90px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.085em;
        text-decoration: underline;
        color: #000000;
        &:hover {
            font-weight: 700;
            color: #000000;
        }
    }
    &-orders-products {
        width: 34%;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
    }
    &-orders-products-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-orders-products-item {
        margin-right: 11px;
        margin-bottom: 11px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-orders-products-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 54px;
        width: 54px;
        height: 54px;
        overflow: hidden;
        border-radius: 4px;
    }
    &-load-more .pager {
        margin-right: 0;
    }

    &-mob-menu {
        display: none;
        margin-top: -5px;
        margin-left: auto;
    }
    &-mob-menu-block {
        max-width: $mobile;
    }
    &-mob-menu-switcher {
        font-size: 14px;
        line-height: 1.5em;
    }
    &-mob-menu-icon {
        margin-right: 13px;
    }

    &_wishlist &-side {
        width: 20%;
    }
    &_wishlist &-content {
        width: 80%;
    }

    @media screen
    and (max-width: $notebook){
        &-side {
            width: 28%;
            padding-right: 20px;
        }
        &-content {
            width: 72%;
        }
        &-orders-products-item {
            margin-right: 8px;
            margin-bottom: 8px;
        }
        &-orders-products-pic {
            min-width: 33px;
            width: 33px;
            height: 33px;
        }
        &-orders-delivery {
            margin-top: 0;
        }
        &-orders-status {
            margin-top: 0;
        }
        &-orders-activity {
            margin-top: 0;
        }
        &_wishlist &-side {
            width: 28%;
            padding-right: 20px;
        }
        &_wishlist &-content {
            width: 72%;
        }
    }

    @media screen
    and (max-width: $tablet){
        flex-direction: column;
        &-side {
            display: none;
        }
        &-content {
            width: 100%;
        }
        &-line {
            margin-top: 16px;
        }
        &-title {
            margin-top: 0;
            margin-bottom: 20px;
        }
        &-user {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &-orders {
            margin-bottom: 20px;
        }
        &-orders-item {
            margin-bottom: 20px;
        }
        &-orders-name {
            font-size: 15px;
            line-height: 24px;
        }
        &-orders-price {
            font-size: 15px;
            line-height: 22px;
        }
        &-orders-content {
            padding-top: 16px;
        }
        &-orders-delivery-label {
            font-size: 14px;
        }
        &-orders-activity {
            margin-left: 20px;
        }
        &-load-more .pager {
            display: flex;
        }

        &-mob-menu {
            display: block;
        }
        &_wishlist &-content {
            width: 100%;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-mob-menu {
            width: 100%;
            margin-top: 14px;
            margin-left: 0;
        }
        &-line {
            margin-top: 18px;
            margin-bottom: 20px;
        }
        &-load-more .pager {
            display: none;
        }
        &-orders-panel {
            flex-wrap: wrap;
        }
        &-orders-price {
            width: 100%;
        }
        &-orders-content {
            flex-wrap: wrap;
        }
        &-orders-delivery {
            width: 100%;
            margin-bottom: 23px;
            margin-right: 0;
            padding-right: 0;
        }
        &-orders-status {
            width: 100%;
            margin-bottom: 23px;
            padding-right: 0;
        }
        &-orders-products {
            width: 65%;
            justify-content: normal;
            margin-left: 0;
        }
        &-orders-products-list {
            margin-right: 20px;
        }
        &-orders-activity {
            width: 35%;
            margin-left: auto;
        }
    }
}

.profile-data {
    &-form {
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-row-modified {
        align-items: center;
    }
    &-avatar-wrapper {
        display: inline-block;
        margin-bottom: 25px;
    }
    &-avatar {
        position: relative;
        display: flex;
        align-items: center;
    }
    &-avatar-img {
        border-radius: 50%;
        overflow: hidden;
        width: 73px;
        height: 73px;
        object-fit: cover;
        margin-right: 20px;
        background-color: #E9EDF5;
        background-size: cover;
    }
    &-avatar-pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 73px;
        z-index: 1;
        opacity: 0;
    }
    &-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.022em;
        color: #19191D;
        &:hover {
            color: #19191D;
        }
    }
    &-avatar .MultiFile-preview {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 73px;
        height: 73px;
        border-radius: 50%;
    }
    &-avatar .MultiFile-title {
        display: none;
    }
    &-avatar .MultiFile-remove {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: #4F4F4F;
    }
    &-avatar_active &-link {
        display: none;
    }
    &-avatar_active &-file {
        width: 73px;
    }
    &-avatar .file-close-icon {
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        margin-top: -2px;
        margin-left: 8px;
        background: url(../images/icons/products-popup-close-grey.svg) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-button {
        min-width: 148px;
    }
    &-address {
        display: flex;
    }
    &-address-item {
        width: 48%;
        margin-bottom: 26px;
        padding-right: 20px;
    }
    &-address-content {
        margin-bottom: 17px;
        letter-spacing: 0.06em;
        color: #111111;
    }
    &-address-activity {
        display: flex;
        flex-wrap: wrap;
    }
    &-address-activity-item {
        margin-right: 31px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-address-link {
        font-size: 14px;
        line-height: 16px;
    }
    &-address-edit {
        text-decoration: underline;
        color: $color-red;
        &:hover {
            color: $color-red;
            text-decoration: none;
        }
    }
    &-address-delete {
        text-decoration: none;
        color: #4F4F4F;
        &:hover {
            color: #4F4F4F;
            text-decoration: none;
        }
    }
    &-address-delete-icon {
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        margin-top: -2px;
        margin-left: 8px;
        background: url(../images/icons/products-popup-close-grey.svg) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-address-label {
        display: block;
        margin-bottom: 21px;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.06em;
        color: #111111;
    }
    &-gender {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-gender-name {
        margin-right: 19px;
        margin-left: 20px;
        font-size: 13px;
        line-height: 15px;
        color: #4F4F4F;
    }
    &-gender-label {}
    &-gender-switch-checkbox {}
    &-gender-label_man {
        display: none;
    }
    &-gender-switch-checkbox:checked ~ &-gender-label {
        display: none;
    }
    &-gender-switch-checkbox:checked ~ &-gender-label_man {
        display: block;
    }

    @media screen
    and (max-width: $mobile){
        &-button {
            width: 100%;
        }
        &-address {
            flex-direction: column;
        }
        &-address-item {
            width: 100%;
            padding-right: 0;
        }
        &-address-content {
            margin-bottom: 5px;
        }
        &-address-link {
            font-size: 13px;
        }
        &-address-delete-icon {
            width: 13px;
            height: 13px;
        }
    }
}

.profile-sections {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    &-item {
        width: 50%;
        margin-bottom: 25px;
        padding-left: 12px;
        padding-right: 12px;
    }
    &-block {
        display: flex;
        flex-direction: column;
        min-height: 192px;
        height: 100%;
        overflow: hidden;
        padding: 20px 20px 27px;
        box-shadow: 0px 0px 20px rgba(171, 171, 171, 0.2);
        border-radius: 10px;
        text-decoration: none;
        background: no-repeat 0 0;
        background-size: cover;
    }
    &-panel {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &-name-wrapper {}
    &-name {
        display: block;
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #111111;
    }
    &-name-label {
        font-size: 14px;
        line-height: 21px;
        color: #010101;
    }
    &-img {
        border-radius: 50%;
        overflow: hidden;
        width: 82px;
        height: 82px;
        object-fit: cover;
        margin-right: 20px;
        background-color: #E9EDF5;
    }
    &-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-footer {
        display: block;
        margin-top: auto;
        width: 100%;
        min-height: 36px;
        padding-top: 13px;
        border-top: 1px solid #828282;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: #000000;
    }
    &-notice {
        position: absolute;
        right: 0;
        top: 0;
    }
    &-notice-icon {
        display: block;
        width: 18px;
        height: 21px;
        background: url("../images/profile/profile-sections/notice-icon.svg") no-repeat 0 0;
    }
    &-notice-amount {
        position: absolute;
        top: -4px;
        left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 18px;
        height: 18px;
        padding: 2px 3px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 8px;
        line-height: 9px;
        background-color: #D10D25;
        color: #fff;
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 45px;
        width: 45px;
        height: 45px;
        margin-right: 13px;
        border-radius: 50%;
        background-color: #B3152F;
    }
    &-icon-pic {
        display: block;
        width: 20px;
        height: 20px;
        background: no-repeat 0 0;
    }
    &-price {
        margin-left: 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 13px;
    }
    &-price-currency {
        font-size: 19px;
    }
    &-item_orders &-icon-pic {
        width: 18px;
        height: 20px;
        margin-top: -1px;
        background-image: url(../images/profile/profile-orders-icon-light.svg);
        background-size: 100% auto;
        margin-left: 1px;
    }
    &-item_history &-icon-pic {
        width: 20px;
        height: 21px;
        margin-top: -1px;
        background-image: url(../images/profile/profile-history-icon-light.svg);
    }
    &-item_compare &-icon-pic {
        width: 20px;
        height: 18px;
        margin-top: -1px;
        background-image: url(../images/profile/profile-compare-icon-light.svg);
        background-position: -4px 0;
    }
    &-item_compare &-icon {
        background-color: #1C3995;
    }
    &-item_wishlist &-icon-pic {
        width: 21px;
        height: 19px;
        background-image: url(../images/profile/profile-wishlist-icon-light.svg);
        background-size: 100% auto;
    }
    &-item_wishlist &-icon {
        background-color: #B3152F;
    }
    &-item_settings &-icon-pic {
        width: 21px;
        height: 21px;
        background-image: url(../images/profile/profile-settings-icon-light.svg);
        margin-left: 1px;
        background-size: 100% auto;
    }
    &-item:nth-child(2) &-block {
        background-image: url("../images/profile/profile-sections/profile-sections-img-1.png");
    }
    &-item:nth-child(3) &-block {
        background-image: url("../images/profile/profile-sections/profile-sections-img-2.png");
    }
    &-item:nth-child(6) &-block {
        background-image: url("../images/profile/profile-sections/profile-sections-img-3.png");
    }
    &-item:nth-child(2) &-name,
    &-item:nth-child(3) &-name,
    &-item:nth-child(6) &-name {
        color: #fff;
    }
    &-item:nth-child(2) &-icon,
    &-item:nth-child(3) &-icon,
    &-item:nth-child(6) &-icon {
        background-color: rgba(255, 255, 255, 0.4);
    }
    &-item:nth-child(2) &-footer,
    &-item:nth-child(3) &-footer,
    &-item:nth-child(6) &-footer {
        border-color: rgba(255, 255, 255, 0.4);
        color: #fff;
    }
    &-item:nth-child(2) &-products-label,
    &-item:nth-child(3) &-products-label,
    &-item:nth-child(6) &-products-label {
        color: #fff;
    }
    &-products-label {
        display: block;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: #010101;
    }
    &-products {
        display: flex;
        flex-wrap: wrap;
    }
    &-products-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        width: 44px;
        height: 44px;
        margin-bottom: 8px;
        border-radius: 4px;
        overflow: hidden;
        &:last-child {
            margin-right: 0;
        }
    }
    &-products-img {}

    @media screen
    and (max-width: $notebook){
        &-products-item {
            width: 33px;
            height: 33px;
            margin-right: 6px;
            margin-bottom: 6px;
        }
    }

    @media screen
    and (max-width: $tablet){
    }

    @media screen
    and (max-width: $mobile){
        &-item {
            width: 100%;
        }
        &-price {
            font-size: 17px;
        }
        &-price-currency {
            font-size: 16px;
        }
    }
}

.profile-wishlist {
    margin-bottom: 52px;
    overflow: hidden;
    &-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &-list {
        display: flex;
    }
    &-list-item {
        width: 218px;
    }

    @media screen
    and (min-width: $tablet) and (max-width: $desktop) {
        &-list-item .product-activity {
            flex-wrap: wrap;
        }
        &-list-item .product-link {
            height: 181px;
        }
    }

    @media screen
    and (max-width: $tablet){
        overflow: visible;
    }
}


.profile-card {
    &-panel {
        display: flex;
        align-items: center;
        margin-top: -7px;
        margin-bottom: 18px;
    }
    &-title {
        margin-bottom: 0;
        margin-right: 15px;
    }
    &-panel-status {
        margin-left: auto;
        cursor: auto;
        &:hover {
            font-weight: normal;
        }
        &:active {
            font-weight: normal;
        }
    }
    &-info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &-info-item {
        width: 58%;
        margin-bottom: 13px;
        padding-bottom: 13px;
        border-bottom: 1px solid #D6DBE6;
        &:nth-child(odd) {
            width: 42%;
        }
    }
    &-info-list {
        padding-right: 20px;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: #000000;
    }
    &-info-name {
        display: inline;
        margin-right: 3px;
    }
    &-info-value {
        display: inline;
        color: #4F4F4F;
    }

    &-status {
        display: flex;
        margin-bottom: 35px;
        margin-right: 20px;
    }
    &-status-item {
        flex-grow: 1;
        overflow: hidden;
        &:last-child {
            flex-grow: initial;
        }
    }
    &-status-number {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 33px;
        width: 33px;
        height: 33px;
        margin-bottom: 11px;
        padding: 5px;
        background-color: $color-red;
        border-radius: 50%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.9em;
        letter-spacing: 0.085em;
        color: #FFFFFF;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            height: 2px;
            margin-top: -1px;
            width: 1500px;
            background-color: $color-red;
            max-width: none;
        }
    }
    &-status-item:last-child &-status-number:after {
        display: none;
    }
    &-status-name {
        max-width: 170px;
        padding-right: 15px;
        font-size: 14px;
        line-height: 21px;
        color: #111111;
    }
    &-status-item_active {}
    &-status-item_active ~ &-status-item &-status-number {
        background-color: #BDBDBD;
        &:after {
            background-color: #BDBDBD;
        }
    }
    &-status-item_active &-status-number {
        &:after {
            background-color: #BDBDBD;
        }
    }
    &-status-item_active ~ &-status-item &-status-name {
        color: #828282;
    }

    &-elements-activity {
        display: flex;
        margin-top: 13px;
    }
    &-elements-more {
        width: 42%;
        padding-right: 20px;
    }
    &-elements-total {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        width: 58%;
    }
    &-elements-sum {
        margin-top: -5px;
        margin-left: 28px;
        font-weight: 700;
        color: #111111;
    }
    &-elements-sum-name {
        font-size: 20px;
        line-height: 26px;
    }
    &-elements-sum-value {
        white-space: nowrap;
        margin-left: 9px;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.085em;
    }
    &-elements-link {
        padding-left: 31px;
        padding-right: 31px;
    }

    @media screen
    and (max-width: $notebook){
        &-elements-more {
            width: auto;
        }
        &-elements-total {
            width: auto;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-panel-status {
            margin-left: 0;
        }
        &-elements-link {
            padding-left: 27px;
            padding-right: 27px;
        }
        &-info-item {
            width: 50%;
            &:nth-child(odd) {
                width: 50%;
            }
        }
        &-status {
            margin-right: 0;
        }
        &-elements-sum {
            margin-left: 18px;
        }
        &-elements-sum-name {
            font-size: 17px;
        }
        &-elements-sum-value {
            margin-left: 5px;
            font-size: 19px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-panel {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
        }
        &-title {
            margin-bottom: 15px;
            margin-right: 0;
        }
        &-info {
            flex-direction: column;
        }
        &-info-item {
            width: 100%;
            &:nth-child(odd) {
                width: 100%;
            }
        }
        &-status {
            flex-wrap: wrap;
            flex-direction: column;
        }
        &-status-item {
            display: flex;
            align-items: center;
            padding-bottom: 50px;
            &:last-child {
                padding-bottom: 0;
            }
        }
        &-status-number {
            margin-bottom: 0;
            margin-right: 15px;
            &:after {
                top: 100%;
                left: 50%;
                height: 1500px;
                margin-top: 0;
                margin-left: -1px;
                width: 2px;
            }
        }
        &-status-name {
            max-width: none;
        }
        &-elements-activity {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-elements-more {
            margin-bottom: 20px;
            padding-right: 0;
        }
        &-elements-total {
            width: 100%;
            flex-wrap: wrap;
        }
        &-info {
            column-count: initial;
        }
        &-info-item {
            margin-bottom: 9px;
            padding-bottom: 9px;
        }
        &-elements-link {
            width: 100%;
            margin-bottom: 0;
        }
        &-elements-sum {
            order: -1;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 15px;
        }
    }
}
